
*.iml

*.xml

*.xml

*.pyc

*.swp
notebooks/.ipynb_checkpoints/wave_class_exploration-checkpoint.ipynb
notebooks/.ipynb_checkpoints/radial_class_exploration-checkpoint.ipynb
hfradar/configs/configs.py
hfradar/data/radials/.DS_Store
.DS_Store
output/
.pytest_cache
*.egg-info/
.idea/.name
.idea/.name
hfradar/data/totals/oi/nc/aggregated/20190101T000000Z-20190101T230000Z_aggregated.nc
hfradar/data/logs/rsync/rsync_log.txt
.vscode/launch.json
.gitattributes
.vscode/settings.json
